In [16]:
import pandas as pd
import csv

In [5]:
order_items_dataset=pd.read_csv('olist_order_items_dataset.csv')  # Olist items datasest
order_items_dataset.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,9/19/17 9:45,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,5/3/17 11:05,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,1/18/18 14:48,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,8/15/18 10:10,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2/13/17 13:57,199.90,18.14

In [6]:
olist_sellers_dataset=pd.read_csv('olist_sellers_dataset.csv') #olist seller data set
olist_sellers_dataset.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [7]:
olist_seller_order_items=pd.merge(order_items_dataset, olist_sellers_dataset,on=['seller_id','seller_id']) #full outer join based on seller id
olist_seller_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,seller_zip_code_prefix,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,9/19/17 9:45,58.9,13.29,27277,volta redonda,SP
1,0188777fe321843a18be24a6e9aa1e53,1,436c8d57ff8d4aa254318e9bd9b48c83,48436dade18ac8b2bce089ec2a041202,7/31/17 14:35,55.9,9.94,27277,volta redonda,SP
2,0191bbb5166d4b9a68df11797d5acfa9,1,ec02a5d380128f7a188e9ce8f3ddd832,48436dade18ac8b2bce089ec2a041202,8/16/17 12:30,132.9,20.17,27277,volta redonda,SP
3,03054d8a8eefc2981cfad06f58e27979,1,3e31fd1419cc4cd6adad1925e72e3a03,48436dade18ac8b2bce089ec2a041202,10/9/17 10:35,58.9,15.16,27277,volta redonda,SP
4,0c325ea6925de749e1420be0cf43587c,1,3a135477bf41350a0b1d8afdf616d446,48436dade18ac8b2bce089ec2a041202,7/6/17 15:43,139.9,16.74,27277,volta redonda,SP

In [8]:
olist_products_dataset=pd.read_csv('olist_products_dataset.csv') #product dataset
olist_products_dataset.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [9]:
product_category_name_translation=pd.read_csv('product_category_name_translation.csv') #translation of product dataset
product_category_name_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [10]:
prod_cat_trans=pd.merge(olist_products_dataset, product_category_name_translation,on=['product_category_name','product_category_name'])
prod_cat_trans=prod_cat_trans.drop(columns=['product_category_name']) #join product and translation datset, drop repeating column
prod_cat_trans.head()

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,6a2fb4dd53d2cdb88e0432f1284a004c,39.0,346.0,2.0,400.0,27.0,5.0,20.0,perfumery
2,0d009643171aee696f4733340bc2fdd0,52.0,150.0,1.0,422.0,21.0,16.0,18.0,perfumery
3,b1eae565a61935e0011ee7682fef9dc9,49.0,460.0,2.0,267.0,17.0,13.0,17.0,perfumery
4,8da90b37f0fb171b4877c124f965b1f6,56.0,733.0,3.0,377.0,18.0,13.0,15.0,perfumery

In [11]:

olist_seller_order_product= pd.merge(olist_seller_order_items, prod_cat_trans,on=['product_id','product_id'])
olist_seller_order_product.head()   #joined sellers with their products

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,seller_zip_code_prefix,seller_city,seller_state,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,9/19/17 9:45,58.9,13.29,27277,volta redonda,SP,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,7/5/17 2:44,55.9,17.96,27277,volta redonda,SP,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,5/23/18 10:56,64.9,18.33,27277,volta redonda,SP,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,8/7/17 18:55,58.9,16.17,27277,volta redonda,SP,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,8/16/17 22:05,58.9,13.29,27277,volta redonda,SP,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff

In [12]:

null_columns=olist_seller_order_product.columns[olist_seller_order_product.isnull().any()]
olist_seller_order_product[null_columns].isnull().sum()
print(olist_seller_order_product[olist_seller_order_product.isnull().any(axis=1)][null_columns].head())

       product_weight_g  product_length_cm  product_height_cm  \
91819               NaN                NaN                NaN

       product_width_cm
91819               NaN

In [15]:
grouped_seller_prod=olist_seller_order_product.groupby(['seller_id','product_category_name_english']).sum()

                                                                  order_item_id  \
seller_id                        product_category_name_english
0015a82c2db000af6aaaf3ae2ecb0532 small_appliances                             3
001cca7ae9ae17fb1caed9dfb1094831 construction_tools_construction             34
                                 garden_tools                               258
001e6ad469a905060d959994f1b41e4f sports_leisure                               1
002100f778ceb8431b7a1020ff7ab48f furniture_decor                             60

                                                                     price  \
seller_id                        product_category_name_english
0015a82c2db000af6aaaf3ae2ecb0532 small_appliances                  2685.00
001cca7ae9ae17fb1caed9dfb1094831 construction_tools_construction   2925.73
                                 garden_tools                     22154.30
001e6ad469a905060d959994f1b41e4f sports_leisure                     250.00
002100f778ceb8431b7a1020ff7ab48f furniture_decor                   1234.50

                                                                  freight_value  \
seller_id                        product_category_name_english
0015a82c2db000af6aaaf3ae2ecb0532 small_appliances                         63.06
001cca7ae9ae17fb1caed9dfb1094831 construction_tools_construction        1269.09
                                 garden_tools                           7585.05
001e6ad469a905060d959994f1b41e4f sports_leisure                           17.94
002100f778ceb8431b7a1020ff7ab48f furniture_decor                         793.66

                                                                  seller_zip_code_prefix  \
seller_id                        product_category_name_english
0015a82c2db000af6aaaf3ae2ecb0532 small_appliances                                  27240
001cca7ae9ae17fb1caed9dfb1094831 construction_tools_construction                  787212
                                 garden_tools                                    6181072
001e6ad469a905060d959994f1b41e4f sports_leisure                                    24754
002100f778ceb8431b7a1020ff7ab48f furniture_decor                                  792275

                                                                  product_name_lenght  \
seller_id                        product_category_name_english
0015a82c2db000af6aaaf3ae2ecb0532 small_appliances                               120.0
001cca7ae9ae17fb1caed9dfb1094831 construction_tools_construction                989.0
                                 garden_tools                                  7577.0
001e6ad469a905060d959994f1b41e4f sports_leisure                                  58.0
002100f778ceb8431b7a1020ff7ab48f furniture_decor                               3039.0

                                                                  product_description_lenght  \
seller_id                        product_category_name_english
0015a82c2db000af6aaaf3ae2ecb0532 small_appliances                                     2547.0
001cca7ae9ae17fb1caed9dfb1094831 construction_tools_construction                     11658.0
                                 garden_tools                                       101234.0
001e6ad469a905060d959994f1b41e4f sports_leisure                                        413.0
002100f778ceb8431b7a1020ff7ab48f furniture_decor                                     35962.0

                                                                  product_photos_qty  \
seller_id                        product_category_name_english
0015a82c2db000af6aaaf3ae2ecb0532 small_appliances                                6.0
001cca7ae9ae17fb1caed9dfb1094831 construction_tools_construction                72.0
                                 garden_tools                                  357.0
001e6ad469a905060d959994f1b41e4f sports_leisure                                  5.0
002100f778ceb8431b7a1020ff7ab48f furniture_decor                                55.0

                                                                  product_weight_g  \
seller_id                        product_category_name_english
0015a82c2db000af6aaaf3ae2ecb0532 small_appliances                          35400.0
001cca7ae9ae17fb1caed9dfb1094831 construction_tools_construction          266050.0
                                 garden_tools                            1878700.0
001e6ad469a905060d959994f1b41e4f sports_leisure                              750.0
002100f778ceb8431b7a1020ff7ab48f furniture_decor                           18250.0

                                                                  product_length_cm  \
seller_id                        product_category_name_english
0015a82c2db000af6aaaf3ae2ecb0532 small_appliances                             120.0
001cca7ae9ae17fb1caed9dfb1094831 construction_tools_construction             1101.0
                                 garden_tools                                8838.0
001e6ad469a905060d959994f1b41e4f sports_leisure                                16.0
002100f778ceb8431b7a1020ff7ab48f furniture_decor                              884.0

                                                                  product_height_cm  \
seller_id                        product_category_name_english
0015a82c2db000af6aaaf3ae2ecb0532 small_appliances                             129.0
001cca7ae9ae17fb1caed9dfb1094831 construction_tools_construction              348.0
                                 garden_tools                                2723.0
001e6ad469a905060d959994f1b41e4f sports_leisure                                 5.0
002100f778ceb8431b7a1020ff7ab48f furniture_decor                             1566.0

                                                                  product_width_cm
seller_id                        product_category_name_english
0015a82c2db000af6aaaf3ae2ecb0532 small_appliances                            108.0
001cca7ae9ae17fb1caed9dfb1094831 construction_tools_construction            1077.0
                                 garden_tools                               8265.0
001e6ad469a905060d959994f1b41e4f sports_leisure                               11.0
002100f778ceb8431b7a1020ff7ab48f furniture_decor                            1076.0

In [19]:
grouped_seller_prod.to_csv('seller_prdo.csv', sep=',')